{% extends 'exportplan/section.html' %}

{% block intro_content %}
<h1 class="h-xl">Payment methods</h1>
<p>To be successful in today’s global marketplace it’s important to select the right payment method for international transactions to minimise payments risks.</p>
{% endblock %}

{% block main_content %}
<p>Consider how you’ll manage payment for your export orders. Record which payment methods you want to use for each market and the reasons for the decision.</p>
<p>Consider and record which incoterms you’ll use in your contracts.</p>
<p><a href="#">See examples</a></p>
{% endblock %}

{% block user_input %}
{% endblock %}
